@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    /* Colors Primary */
    --color-Cyan: hsl(179, 62%, 43%);
    --color-Bright-Yellow: hsl(71, 73%, 54%);
    /* Colors Neutral */
    --color-Light-Gray: hsl(204, 43%, 93%);
    --color-Grayish-Blue: hsl(218, 22%, 67%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
body{
    min-width: 375px;
    max-width: 1440px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background: var(--color-Light-Gray);
}

.container{
    width: 50%;
    margin: 2rem auto;
}

/* Head Section */

.section1{
    background: white;
    padding: 2.5em;
    border-radius: 0.5rem 0.5rem 0 0;
}
h1{
    color: var(--color-Cyan);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5em;
}
#subtitle{
    color: var(--color-Bright-Yellow);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5em;
}
#inform{
    color: var(--color-Grayish-Blue);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
}

/* Down Section 1 */

.flex{
    display: flex;
    
}

.section2-a{
    background: var(--color-Cyan);
    padding: 2.5em;
    width: 50%;
    border-radius: 0 0 0 0.5rem;
}

h3{
    font-size: 1rem;
    color: white;
    margin-bottom: 1em;
}

#attention{
    font-size: 2rem;
    color: white;
    margin-bottom: .3em;
}

span{
    font-size: 1rem;
    color: var(--color-Light-Gray);
}

#attention-a{
    font-size: 0.9rem;
    color: white;
    margin-bottom: 2em;
}

button{
    width: 100%;
    border: none;
    font-size: .75rem;
    height:40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 6px 5px 7px 2px hsl(179, 63%, 36%);
    background: var(--color-Bright-Yellow);
}


/* Down Section 2 */
.section2-b{
    background:hsl(179, 55%, 54%);
    padding: 2.5em;
    width: 50%; 
    border-radius: 0 0 0.5rem 0;
}
.section2-b p{
    font-size: 0.85rem;
    color: var(--color-Light-Gray);
    line-height: 1.2rem;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 768px){

    .flex{
        flex-direction: column;
    }

    .container{
        width: 80%;
    }
    .section2-a,
    .section2-b{
        width: 100%;
    }
    
    .section2-a{
        border-radius: 0;
    }
    
    .section2-b{
        border-radius: 0 0 0.5rem 0.5rem;
    }

}
    